* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh; /* Full viewport height */
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/Header_Pic1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.content {
    background-color: white; /* Default white bg for everything else */
    padding: 50px;
    color: black;
}
